UFIDA.U8.Plugin.LPCSPlugin/obj/
UFIDA.U8.Plugin.LPCSPlugin/bin/Debug/UFIDA.U8.Plugin.LPCSPlugin.dll
UFIDA.U8.Plugin.LPCSPlugin/bin/Debug/UFIDA.U8.Plugin.LPCSPlugin.pdb
UFIDA.U8.Plugin.LPCSPlugin/bin/Debug/UFIDA.U8.Plugin.LPCSPlugin.vshost.exe
UFIDA.U8.Plugin.LPCSPlugin/bin/Debug/UFIDA.U8.Plugin.LPCSPlugin.vshost.exe.manifest
